* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.heading {
    padding: 40px 0;
    font-size: 175%;
    text-align: center;
}

.grid{
    padding-left:15px;
    width: 100%;
}

section{
    clear:left;
}

.col {
    background-color: lawngreen;
    border: 1px solid black;
}

.text {
    padding: 45px 5px 0;
}

@media (min-width: 992px) {
    .lg-4 {
        width: 33%;
        float: left;
        margin-bottom: 15px;
        padding-right: 15px;
        position: relative;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .md-6 {
        width: 50%;
        float: left;
        margin-bottom: 15px;
        padding-right: 15px;
        position: relative;
    }
    .md-12 {
        width: 100%;
        float: left;
        padding-right: 15px;
        position: relative;
    }
}

@media (max-width: 767px) {
    .sm-12 {
        width: 100%;
        float: left;
        margin-bottom: 15px;
        padding-right: 15px;
        position: relative;
    }
}

.title{
    border: solid black;
    border-width: 1px;
    padding: 5px 10px;
    position:absolute;
    top: 0;
    right: 15px;
    font-size: 125%;
}

.Borch {
    background-color:cyan;
    color:deeppink;
}

.Pelmeni{
    background-color: goldenrod;
    color:mediumblue;
}

.Vinegret {
    background-color:purple;
    color:yellow;
}